//Variabler
$lightmode-background: #eef0e5;
$lightmode-green: #3a4d39;

/* $darkmode-background: #212a3e; */
$darkmode-background: #10141e;
/* $darkmode-text: #f1f6f9; */
$darkmode-text: #b7d6e7;
$darkmode-mid: #394867;

$breadfont: Montserrat, arial, Helvetica, sans-serif;
$accentfont: Inconsolata, Arial, Helvetica, sans-serif;
$headingfont: 'DM Serif Display', Georgia, 'Times New Roman', serif;

@mixin center() {
    position: relative;
    left: 50%;
}

@mixin transition() {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
