/* Fade in för texten på animerings-sidan */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Glider in nerifrån */
@keyframes slideIn {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

/* Gör så hästen skuttar litt */
@keyframes horse {
    0% {
        left: 0;
        bottom: 0;
        transform: scaleX(1); /* Peka nosen åt höger först, som ska va */
    }
    5%,
    15%,
    35%,
    65%,
    85%,
    95% {
        bottom: 1em;
    }
    8%,
    18%,
    28%,
    38%,
    48%,
    58%,
    68%,
    78%,
    88%,
    98% {
        bottom: 0;
    }
    10%,
    20%,
    30%,
    40%,
    60%,
    70%,
    80%,
    90% {
        bottom: 1em;
    }
    3%,
    13%,
    23%,
    33%,
    43%,
    53%,
    63%,
    73%,
    83%,
    93% {
        bottom: 0;
    }
    25% {
        left: 50%;
        bottom: 1em;
        transform: scaleX(1);
    }
    45% {
        left: 100%;
        bottom: 1em;
        transform: scaleX(1);
    }
    50% {
        left: 100%;
        bottom: 0;
        transform: scaleX(-1); /* Vänd häst */
    }
    55% {
        left: 100%;
        bottom: 1em;
        transform: scaleX(-1);
    }
    75% {
        left: 50%;
        bottom: 1em;
        transform: scaleX(-1);
    }
    90% {
        transform: scaleX(-1);
        left: 0;
    }
    100% {
        left: 0;
        transform: scaleX(1); /* Vänd tillbaka till höger */
    }
}
