@use 'base';
@use 'keyframes';

/* Den här kanske man borde dela upp i flera partials istället */

/* Utgår från lightmode. Darkmode kommer i en media query */
body {
    background-color: base.$lightmode-background;
    font-family: base.$breadfont;
}

/* HEADER */
header {
    width: 100%;
    position: relative;
    img {
        width: 100%;
    }
    .header-flex {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 0;
        /* Specifikt för landing page: */
        img#logotyp {
            max-width: 40%;
            width: 200px; /* Måste tydligen ha detta för Firefoxs skull */
            margin: 0.5em;
            position: relative;
            z-index: 2;
        }
    }
    /* DESKTOP-NAVIGERING */
    nav.desktop {
        width: 56%;

        ul {
            /* Lista ska också bli flex så den kan spridas ut lite, som en menyrad*/
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0.5em 1em 0.5em 0.5em;
            border-radius: 10px 0 0 10px;
            @include base.transition;

            &:hover {
                /* Gör hover-effekt där menyraden får mörkare bakgrund */
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
        .desktop-menu-item {
            /* Själva li */
            font-family: base.$accentfont;
            font-size: 1.1em;
            a {
                /* Länkarna i list items */
                text-decoration: none;
                color: base.$lightmode-background;
                padding: 0.8em;
                position: relative; /* För att strecken under ska ha pos: absolute */
                text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
            }
            a:after {
                /* Gör streck under länkarna */
                content: '';
                width: 0%;
                height: 3px;
                background-color: base.$lightmode-background;
                position: absolute;
                bottom: 0;
                left: 0;
                @include base.transition;
            }
            a:hover:after {
                /* Visa strecket vid hover */
                width: 100%;
            }
            a[aria-current='page']:after {
                /* Statiskt streck under den länk som hör till sidan man befinner sig på */
                content: '';
                width: 100%;
                height: 3px;
                background-color: base.$lightmode-background;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    /* MOBILMENY */
    div.mobile-menu {
        /* Dölj i desktopläge */
        display: none;
        .burger-button {
            /* Själva knappen som omger burger bars */
            border: none;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0);
            position: relative;
            top: 1.5em;
            right: 2em;
            z-index: 2;

            &:hover .burger-bar {
                background-color: lighten(base.$lightmode-green, 10%);
            }
        }
        .burger-bar {
            /* Själva brödet och köttet */
            display: block;
            width: 40px;
            height: 3px;
            margin: 5px;
            background-color: black;
            @include base.transition;
        }

        /* AKTIV HAMBURGARE */
        .burger-button.active .burger-bar {
            background-color: base.$lightmode-green;
        }
        .burger-button.active:hover .burger-bar {
            background-color: lighten(base.$lightmode-green, 10%);
        }
        /* Rotera första och tredje, dölj mittersta */
        .burger-button.active .burger-bar:first-child {
            transform: translateY(8px) rotate(225deg);
        }
        .burger-button.active .burger-bar:nth-child(2) {
            opacity: 0;
        }
        .burger-button.active .burger-bar:last-child {
            transform: translateY(-8px) rotate(-225deg);
        }
        /* Ul-element får regler och skickas ut till höger för att döljas när den är inaktiv */
        nav.mobile-menu-items {
            height: fit-content;
            width: 100%;
            border-radius: 0 0 50% 50%;
            position: fixed;
            left: 0;
            top: -505%;
            background-color: base.$lightmode-background;
            @include base.transition;

            .mobile-menu-item {
                font-family: base.$accentfont;
                font-size: 1.1em;

                margin: 5em 50%;
                li {
                    margin-top: 3em;
                }
                a {
                    color: base.$lightmode-green;
                    position: relative;
                    padding: 0.5em 0;
                }
                a[aria-current='page']:after {
                    /* Statiskt streck under nuvarande sida  */
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: base.$lightmode-green;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        /* Visas när den är aktiv */
        nav.mobile-menu-items.active {
            top: 0;
            z-index: 1;
        }
    }
}

h1 {
    font-family: base.$headingfont;
    letter-spacing: 1;
    color: base.$lightmode-green;
}

/* LANDING PAGE MAIN */
main {
    padding: 1em 0;

    img {
        /* Sätt bredd, centrera både horisontellt och vertikalt, sänk opacity och gör transition på border radius vid hover */
        width: 80%;
        max-width: 1500px;
        margin: 1.5em auto;
        border-radius: 150px;
        @include base.center(true, false); //horizontal, vertical
        opacity: 0.8;
        @include base.transition;

        &:hover {
            border-radius: 50px;
        }
    }
}

/* Undersidor  */
.wrapper.underpage {
    /* Ändra färgerna på menylänkarna då det inte finns en headerbild på undersidorna */
    header nav.desktop .desktop-menu-item a {
        color: base.$lightmode-green;

        &:after {
            background-color: base.$lightmode-green;
        }
    }
    h1 {
        /* Putta ner h1 så den kommer nedanför meny*/
        margin-top: 5em;
    }
    /* ANIMERINGAR */
    div.horseanimation {
        width: 90%;
        svg {
            /* Hästikonen */
            width: 13%;
            fill: base.$lightmode-green;
            margin-top: 4em;
            animation: horse 7s linear infinite;
            position: relative;
        }
    }

    div.fadein {
        /* Textanimationen */
        animation: fadeIn 4.5s, slideIn 1.8s;
        position: relative;
    }
    div.horsetransition {
        button {
            padding: 1em;
            margin-top: 1em;
            border: none;
            background-color: base.$lightmode-green;
            color: white;
            border-radius: 5px;
            @include base.transition;
            @include base.center(true, false);
            display: block;
            cursor: pointer;

            &:hover {
                /* hovereffekt på knappen */
                background-color: darken(base.$lightmode-green, 20%);
            }
        }
        svg {
            /* Andra hästikonen */
            margin-top: 1em;
            width: 20%;
            @include base.transition;
            @include base.center(true, false);

            &:hover {
                /* Hovereffekt och stroke för att synas */
                fill: #ccc;
                stroke: base.$lightmode-green;
                stroke-width: 0.2;
            }
        }
        svg.active {
            stroke: none;
            width: 30%;
            fill: #6f1010;
        }
    }
}

/* IKONER på landing page */
.icons {
    /* Gör omslutande div till grid container, fördela jämnt */
    width: 100%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;

    .icon-container {
        /* Gör varje individuell div för ikon + text till grid container */
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
        grid-template-areas:
            'svg'
            'info';

        svg {
            /* Ändra färg på svg  och centrera */
            grid-area: svg;
            fill: base.$lightmode-green;
            width: 30%;
            margin: auto;
            @include base.transition;

            &:hover {
                /* Ljusa upp den när man hovrar */
                fill: lighten(base.$lightmode-green, 20%);
            }
        }

        p {
            /* Centrera text */
            grid-area: info;
            text-align: center;
            font-family: base.$accentfont;
        }
    }
}

/* Slutcitatet på landing page */
blockquote {
    @extend h1;
    font-size: 1.8em;
    max-width: 70%;
    margin: 1.5em auto;
    font-style: italic;
}

/* Border-bilden inför footern (träden) */
#footerimg {
    width: 100%;
    display: block;
}

/* FOOTER */
footer {
    background-color: base.$lightmode-footer-bg;
    /* Text  */
    p {
        color: base.$lightmode-background;
        width: fit-content;
        margin: auto;
        padding-bottom: 1em;
    }
    a {
        /* Länk till pixabay, svgrepo och reshot */
        color: #ffffff;
        text-decoration: dotted underline 2px;
    }
    img {
        /* Lilla signaturen */
        max-width: 180px;
        width: 20%;
        @include base.center(true, false);
    }
}
