@use 'base';

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    body {
        /* Ändra bakgrundsfärg */
        background-color: base.$darkmode-background;
        color: base.$darkmode-text;
    }

    /* UNDERSIDORNAS REGLER */
    .wrapper.underpage {
        /* Ändra färg på hamburgaren så den syns */
        header div.mobile-menu .burger-button .burger-bar {
            background-color: base.$darkmode-mid;
        }

        header div.mobile-menu .burger-button:hover .burger-bar {
            background-color: base.$darkmode-text;
        }
        header div.mobile-menu .burger-button.active:hover .burger-bar {
            background-color: base.$darkmode-text;
        }
        /* Ändra färg på länkarna i menyn samt indikeringen för hovring och statisk indikering på vart man befinner sig på sidan */
        header nav.desktop .desktop-menu-item a {
            color: base.$darkmode-mid;
            @include base.transition;

            &:hover {
                color: base.$darkmode-text;

                &:after {
                    background-color: base.$darkmode-text;
                }
            }
            &:after {
                background-color: base.$darkmode-mid;
            }
        }
        /* Lite regler för knappar och hästikoner */
        div.horsetransition button {
            background-color: base.$darkmode-mid;

            &:hover {
                background-color: darken(base.$darkmode-mid, 20%);
            }
        }
        div.horsetransition svg {
            stroke: base.$darkmode-text;
            stroke-width: 0.2;
        }
        /* Ändra färger på sökknapp, resultat och ge hovereffekt */
        div.search button {
            background-color: base.$darkmode-mid;

            &:hover {
                background-color: base.$darkmode-text;
                color: base.$darkmode-background;
            }
        }
        div.searchresults ul li {
            list-style: none;
            border-bottom: 1px solid base.$darkmode-mid;

            &:hover {
                background-color: base.$darkmode-mid;
            }
        }
    }

    /* Gör lite hovereffekt på hamburgaren på landing page  */
    header {
        div.mobile-menu .burger-button:hover {
            .burger-bar {
                background-color: base.$darkmode-mid;
            }
        }
        div.mobile-menu .burger-button.active:hover .burger-bar {
            background-color: base.$darkmode-mid;
        }
        /* Mörka bakgrundsfärgen på menyn */
        div.mobile-menu nav.mobile-menu-items {
            background-color: darken(base.$darkmode-mid, 28%);
        }
        /* Ändra textfärg på länkarna i menyn */
        div.mobile-menu nav.mobile-menu-items.active a {
            color: base.$darkmode-text;
        }
        /* Ändra bakgrundsfärg på strecket under nuvarande sida när menyn är utfälld  */
        div.mobile-menu
            nav.mobile-menu-items.active
            a[aria-current='page']:after {
            background-color: base.$darkmode-text;
        }
        /* Ändra färg på burgarstrecken när menyn är utfälld */
        div.mobile-menu .burger-button.active .burger-bar {
            background-color: base.$darkmode-text;
        }
    }
    /* Ändra färg på h1 och citat */
    main h1,
    blockquote {
        color: base.$darkmode-text;
    }

    /* Ändra färgen på ikonerna, ge hovereffekt som är lite ljusare färg */
    .icons .icon-container svg,
    .wrapper.underpage div.horseanimation svg {
        fill: base.$darkmode-mid;
        @include base.transition;

        &:hover {
            fill: base.$darkmode-text;
        }
    }

    /* Ändra bakgrundsfärg på footer och textfärg */
    footer {
        background-color: base.$darkmode-footer-bg;

        p {
            color: black;
        }
    }
}

/* BREDDER */

/* Fixa ikonernas storlek; byt grid till 2x2, gör ikonerna mindre, bryt texten */
@media (max-width: 1450px) {
    .icons {
        grid-template-columns: 1fr 1fr;

        .icon-container {
            margin-bottom: 1.5em;
        }
        .icon-container svg {
            width: 20%;
        }
        .icon-container p {
            max-width: 50%;
            margin: auto;
        }
    }
}

/* Byt meny från desktop till hamburgare */
@media (max-width: 900px) {
    header {
        nav.desktop {
            display: none;
        }
        div.mobile-menu {
            display: block;
        }
    }
    /* Bredda main lite också */
    main {
        width: 90%;
        img {
            border-radius: 30px;
            width: 100%;

            &:hover {
                /* Ta bort border-radius-effekten */
                @extend img;
            }
        }
    }
    .icons .icon-container p {
        font-size: 70%;
    }
}

/* Justera ikonerna ytterligare; minska texten, centrera länkarna i hamburgermenyn */
@media (max-width: 550px) {
    .icons .icon-container svg {
        width: 30%;
    }
    header div.mobile-menu nav.mobile-menu-items.active ul {
        margin: 4em 40%;
    }
    .wrapper.underpage div.horseanimation {
        width: 80%;
    }
    //diagram
    .wrapper.underpage div.diagram-container {
        width: 100%;
    }

    .wrapper.underpage div.diagram-container:last-child {
        width: 100%;
    }
    /* Gör kartan mindre vid mobillägen */
    .wrapper.underpage div#map {
        max-height: 350px;
        width: 95%;
    }
    /* Bredda behållarna för sökfunktion och resultat, gör mindre text */
    .wrapper.underpage div.search {
        width: 90%;
    }
    .wrapper.underpage div.searchresults {
        width: 90%;
        font-size: 0.75em;
        max-height: 110px;
    }

    main blockquote {
        max-width: 100%;
        font-size: 1.5em;
    }
    footer {
        padding: 1em;
    }
}

/* Minska texten för mobil på hela sidan, ge ikontexten fullbredd  */
@media (max-width: 370px) {
    body {
        font-size: 0.8em;
    }
    .icons .icon-container p {
        max-width: 100%;
    }
    /* Bredda sökning ännu lite till */
    .wrapper.underpage div.search {
        width: 100%;
        input[type='search'] {
            width: 70%;
        }
    }
    .wrapper.underpage div.searchresults {
        width: 100%;
    }
}
