@use 'base';

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$darkmode-background;
        color: base.$darkmode-text;
    }
    .wrapper.underpage {
        header div.mobile-menu .burger-button .burger-bar {
            background-color: base.$darkmode-mid;
        }
        header nav.desktop .desktop-menu-item a {
            color: base.$darkmode-mid;
            @include base.transition;

            &:hover {
                color: base.$darkmode-text;

                &:after {
                    background-color: base.$darkmode-text;
                }
            }
            &:after {
                background-color: base.$darkmode-mid;
            }
        }
    }
    header {
        div.mobile-menu .burger-button:hover {
            .burger-bar {
                background-color: base.$darkmode-mid;
            }
        }

        div.mobile-menu nav.mobile-menu-items {
            background-color: darken(base.$darkmode-mid, 28%);
        }
        div.mobile-menu nav.mobile-menu-items.active a {
            color: base.$darkmode-text;
        }
        div.mobile-menu
            nav.mobile-menu-items.active
            a[aria-current='page']:after {
            background-color: base.$darkmode-text;
        }
        div.mobile-menu .burger-button.active .burger-bar {
            background-color: base.$darkmode-text;
        }
    }
    main h1,
    blockquote {
        color: base.$darkmode-text;
    }
    .icons .icon-container svg {
        fill: base.$darkmode-mid;
        @include base.transition;

        &:hover {
            fill: base.$darkmode-text;
        }
    }
    footer {
        background-color: base.$darkmode-footer-bg;

        p {
            color: black;
        }
    }
}

@media (max-width: 1450px) {
    .icons {
        grid-template-columns: 1fr 1fr;

        .icon-container {
            margin-bottom: 1.5em;
        }
        .icon-container svg {
            width: 20%;
        }
        .icon-container p {
            max-width: 50%;
            margin: auto;
        }
    }
}

@media (max-width: 900px) {
    header {
        nav.desktop {
            display: none;
        }
        div.mobile-menu {
            display: block;
        }
    }
    main {
        width: 90%;
        img {
            border-radius: 30px;
            width: 100%;

            &:hover {
                @extend img;
            }
        }
    }
    .icons .icon-container p {
        font-size: 70%;
    }
}

@media (max-width: 550px) {
    .icons .icon-container svg {
        width: 30%;
    }
    header div.mobile-menu nav.mobile-menu-items.active ul {
        margin: 4em 40%;
    }
    main blockquote {
        max-width: 100%;
        font-size: 1.5em;
    }
    footer {
        padding: 1em;
    }
}

@media (max-width: 370px) {
    body {
        font-size: 0.8em;
    }
    .icons .svgrepo {
        @include base.center(true, true);
    }
    .icons .icon-container p {
        max-width: 100%;
    }
}
