@use 'base';

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$darkmode-background;
        color: base.$darkmode-text;
    }

    header {
        div.mobile-menu .burger-button:hover {
            .burger-bar {
                background-color: base.$darkmode-mid;
            }
        }

        div.mobile-menu nav.mobile-menu-items {
            background-color: darken(base.$darkmode-mid, 15%);
        }
        div.mobile-menu nav.mobile-menu-items.active a {
            color: base.$darkmode-text;
        }
        div.mobile-menu
            nav.mobile-menu-items.active
            a[aria-current='page']:after {
            background-color: base.$darkmode-text;
        }
        div.mobile-menu .burger-button.active .burger-bar {
            background-color: base.$darkmode-text;
        }
    }
    main h1 {
        color: base.$darkmode-text;
    }
    .icons .icon-container svg {
        fill: base.$darkmode-mid;
        @include base.transition;

        &:hover {
            fill: base.$darkmode-text;
        }
    }
}

@media (max-width: 900px) {
    header {
        nav.desktop {
            display: none;
        }
        div.mobile-menu {
            display: block;
        }
    }
    main {
        width: 90%;
        img {
            border-radius: 30px;
            width: 100%;

            &:hover {
                @extend img;
            }
        }
    }
}
