* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    overflow-x: hidden;
}

body {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    @extend .wrapper;
    line-height: 1.5;
}

nav ul li {
    list-style: none;

    a {
        text-decoration: none;
    }
}
