/* Här petar jag in allmänna regler som jag nästan alltid sätter, och inte ändrar på förutom i media queries. 
Det är kanske ett missvisande namn för det är ingen full reset eller normalisering. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    overflow-x: hidden;
}

body {
    max-width: 2500px;
    width: 100%;
    margin: auto;
    @extend .wrapper;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

nav ul li {
    list-style: none;
}
div.text-content {
    width: fit-content;
    margin: auto;
    p {
        max-width: 35em;
    }
    p:not(.no-top-margin) {
        margin-top: 2em;
    }
}

main {
    width: 70%;
    margin: auto;
}
